.expandable-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.expandable-content.open {
    max-height: 18vh; /* or another value that suits your design */
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.custom-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox .checkmark {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

/* On mouse hover, add a background color */
.custom-checkbox:hover input ~ .checkmark {
    background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
    background-color: #8DE1F3;
    border-color: #8DE1F3;
}

/* Add a checkmark/indicator (hidden by default) */
.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when the checkbox is checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
